/* MAIN LAYOUT */
#root {
  max-width: 1500px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  /* gap: 48px; */
  height: calc(100vh - 56px - 53px - 20px - 10px);
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    height: auto;
  }
}

@media (max-width: 600px) {
  #root {
    padding: 12px;
  }
}
